@import '../../styles/variable';

.textarea {
	padding: 7px 15px;
	color: $black;
	border: none;
	outline-color: $primary;
	background-color: $white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	font-size: 16px;
	line-height: 1.2;
	font-family: inherit;
	width: 100%;
	&::placeholder{
		color: $grey;
	}
}
.error{
	border: 1px solid $red;
}
.textareaWrapper{
	position: relative;
}
.errorMessage{
	pointer-events: none;
	position: absolute;
	bottom: -15px;
	left: 0;
	color: $red;
}