@import '../../styles/variable'; 

.star{
	transition: $transition;
	margin-right: 5px;
}
.fill{
	fill: $primary;
}

.editable{
	cursor: pointer;
}
.error svg{
	stroke: $red;
}
.raitingWrapper{
	position: relative;
}
.errorMessage{
	pointer-events: none;
	position: absolute;
	bottom: -20px;
	left: 0;
	color: $red;
}