$black: #3b434e;
$white: #fff;
$primary: #7653fc;
$primary-hover: #5c35f7;
$grey-light: #ebebeb;
$grey-dark: #787D85;
$red: #fc836d;
$green: #1dc47e;
$green-light: #c8f8e4;
$font-family: 'Noto Sans', sans-serif;
$transition: all .5s;